[Unit]
Description=ZeroTier Connectivity Monitor Service
After=network-online.target zerotier-one.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash  /data2/Zerotier_Tailscale_Moniter/Zerotier_Moniter/zt-monitor.sh
# 服务意外挂掉后自动重启
Restart=always
RestartSec=10
# 必须作为 root 用户运行，因为服务中有 systemctl restart 提权操作
User=root
Group=root

[Install]
WantedBy=multi-user.target
